@import "./variables.scss";
@import "./mixins";

.main {
  @include horizontal-flex;
  justify-content: space-around;
  align-items: center;
  background-color: $grey-color;

  box-sizing: border-box;
  padding: 5rem;
  @include for-laptop {
    padding: 2rem;
  }
  @include for-tablet {
    @include vertical-flex;
  }
  @include for-mobile {
    gap: 20px;
  }
  @include for-mobile {
    padding: 1rem;
  }
}
.actions {
  @include for-mobile {
    display: flex;
    flex-direction: column;
  }
}
.form {
  width: 30%;

  box-sizing: border-box;
  padding: 0.5rem;

  @include for-laptop {
    width: 40%;
  }
  @include for-tablet {
    width: 90%;
  }
  @include for-mobile {
    width: 100%;
  }
}

.table {
  width: 60%;

  @include for-laptop {
    width: 50%;
  }
  @include for-tablet {
    width: 90%;
  }
  @include for-mobile {
    width: 100%;
  }
}
